* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}


/* Home <======================================== */

.home-bg {
  background-image: url(./assets/img/home-bg.png);
  height: 100vh;
  padding: 70px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.home-text h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: #FFFFFF;
  margin-bottom: 14px;
}

.home-text h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 82px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.home-text p {
  width: 559px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #B0B0B0;
}

.home-text button {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  background: #4A7FF3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 40px;
  padding: 16px 20px;
}


.carousel-control-prev {
  display: none !important;
}

.carousel-control-next {
  display: none !important;
}

.carousel-indicators [data-bs-target] {
  width: 14px !important;
  height: 14px !important;
  border-radius: 50% !important;
}

.carousel-indicators {
  bottom: -45px !important;
  transition: all linear 0.3s;
}


/* AuthHeader ====================== */

.header-content .user-btn {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: transparent;
  margin-right: 25px;
  /* width: 133px; */
  padding: 11px 17px;
  /* height: 53px; */
  border: 1px solid #746C77;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
}


.nav_link .disable_tabs:hover {
  color: #FFFFFF !important;
}

.add-balance {
  position: relative;
  display: inline-block;
}

.add-balance .tooltiptext {
  visibility: hidden;
  width: 400px;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #EBEFFD;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  color: #fff;
  border-radius: 15px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 72px;
  left: 50%;
  transform: translate(-50%);
  margin-left: -60px;
  opacity: 0;
  transition: all linear 0.3s;
  z-index: 5;
  padding: 22px;
}

.add-balance .tooltiptext P {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: #FFFFFF;
  margin-bottom: 0px;
}

.add-balance:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.add-balance-icon {
  padding: 15px 15px;
  align-items: center;
  border: 1px solid #746C77;
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
}

.input-group-text {
  background-color: transparent !important;
  color: #FFFFFF !important;
  border: 2px solid #636363 !important;
  border-radius: 10px 0px 0px 10px !important;
}

.input-group>.form-control,
.input-group>.form-select {
  background-color: transparent !important;
  color: #FFFFFF !important;
  border: 2px solid #636363 !important;
  border-radius: 0px 10px 10px 0px !important;
  box-shadow: none !important;
}

.wallet-management {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  margin-top: 25px;
  width: 100%;
  padding: 19px !important;
  background: #4A7FF3 !important;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.27);
  border-radius: 10px !important;
}